streamlit==1.24.1
streamlit-option-menu
google-cloud-aiplatform
pandas-gbq
pandas
google-auth
requests
PyGithub
bs4
lxml
textblob
langchain
numpy 
seaborn 
matplotlib
nltk
scikit-learn
wordcloud
nltk
folium
streamlit_folium
streamlit
streamlit-option-menu
google-cloud-aiplatform==1.28.0
pandas-gbq
tabulate==0.9.0
retry==0.9.2
matplotlib==3.7.2
langchain==0.0.232
plotly
nbformat
transformers
scikit-learn
seaborn
faiss-cpu
db-dtypes
#chromadb
